<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HELP</title>
<style></style>
</head>
<body>
<h1 style="color:red">HELP</h1>
<h1 font-size=70px;>People are at the heart of everything we do at BOH, which is why we dedicate ourselves to understanding what you need, and more. Whether it’s helping you with your investments or turning your business ideas into reality, we are committed to be the bank that you can trust and partner through life.
</h1>

<h1 font-size=70px>
In January 2017, BOH evolved our decade-old positioning. This new brand promise reflects our belief that in the digital era, we need to deliver banking that is so simple, seamless and invisible, our customers have more time to spend on the people or things they care about.
It encapsulates several ideas – enabling customers to live hassle-free with invisible banking, to seize life’s opportunities.
</h1>

<h1 font-size=70px>
To become more customer-centric, we continued to embed ourselves in the customer journey. Working together with ecosystem partners, BOH has launched marketplaces on our website, selling cars, property and electricity. The idea was to embed banking in the everyday lives of customers, making banking invisible.
</h1>

<h1 font-size=70px>
In 2012, BOH was the first bank and listed Southeast Asian company to participate in the International Integrated Reporting Council’s (IIRC) pilot programme to enhance corporate disclosures on value creation across multiple stakeholder groups. Since 2015, we have produced integrated sustainability reports in accordance with the latest Global Reporting Initiative (GRI) frameworks. In 2018, we published the inaugural standalone sustainability report.
</h1>
</body>
</html>