<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Customer Registration</title>
<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<style>
.body{
    background-image: url("vib.jpg");
    background-color:#3333;
    background-size: cover;
  }
</style>
</head>
<body>
<div class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong> Customer Registered Successfully
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            
        </div>
        <div> 
            <input style="margin-left: 20px" class="btn btn-dark btn-block " type=button onClick="location.href='LoggedIn.html'" value='<< GO BACK'/>
        </div>
</body>
</html>